<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Witaj!</h1>
    <p>Cukrzyca typu I stanowi ok. 10% wszystkich typów cukrzycy. Początek zachorowania zwykle przypada między 10., a 14. rokiem życia i dotyczy głównie dzieci i osób młodych. Powodem wystąpienia cukrzycy typu I jest prawie całkowite zniszczeniem komórek β trzustki produkujących insulinę przez przeciwciała. Jest to zjawisko autoagresji, czyli niszczenia własnych komórek. W efekcie dochodzi do bezwzględnego braku insuliny. Ankieta ma na celu wczesne rozpoznanie cukrzycy u ludzi młodych.</p>
  </div>

  <div class="page-header">
    <h1>Chose the next step</h1>
  </div>
  <p>
    <a href="./form.html" class="btn btn-success" role="button">Fill the form</a>
    <a href="/result" class="btn btn-primary" role="button">Review results</a>
  </p>


{% endblock %}
